<!DOCTYPE html>
<html>
<head>
  <title>Undoable</title>
  <%= stylesheet_link_tag    "undoable/application", media: "all" %>
  <%= javascript_include_tag "undoable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
